@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/andrzejolszak/picat-blazor-monaco" target="_blank" class="ml-md-auto">Web IDE for the Picat programming language</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
